@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}
<h1>Welcome To The Joel Hilton Film Collection!</h1>
<div class="text-center">
    <img src="~/mission6picture.jpg" />
    <br />
    <p>Hello</p>
</div>
